.container-margin {
  margin: 20px auto 60px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.grid {
  display: grid;
}

.entry-padding {
  padding: 5px 5px 0px 15px;
}

.division-grid {
  grid-template-columns: 10% 40% 20% 20%;
  grid-column-gap: 5px;
}

.grid-5-70-20 {
  grid-template-columns: 3% 70% 20%;
  grid-column-gap: 10px;
}

.grid-75-20 {
  grid-template-columns: 75% 20%;
  grid-column-gap: 10px;
}

.division-font {
  font-weight: 16px;
}

.grid-compare {
  grid-column-gap: 10px;
}

.button-font {
  font-size: 16px;
}

.grid-compare-btns {
  grid-template-columns: 180px 170px 170px;
  grid-column-gap: 10px;
  padding: 10px 0px;
}

.grid-sort-btns {
  grid-template-columns: 100px 170px 170px;
  grid-column-gap: 10px;
  padding: 10px 0px;
}

.compare {
  justify-self: start
}

@media screen and (max-width: 770px) {
  .grid-compare-btns {
    grid-template-columns: 180px 1fr 1fr;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  .division-font, .button-font {
    font-size: 14px;
  }

  .division-grid {
    grid-template-columns: 15% 35% 20% 25%
  }

  .grid-compare {
    grid-template-rows: 2;
  }

  .grid-compare-btns, .grid-sort-btns {
    grid-template-columns: auto;
    grid-template-rows: 2;
  }

  .grid-compare-btns .btn, .grid-sort-btns .btn {
    grid-row-start: 2;
  }
}

@media screen and (max-width: 400px) {
  .entry-padding {
    padding-left: 8px;
  }

  .grid-5-70-20 {
    grid-template-columns: 5% 65% 20%
  }
}

@media screen and (max-width: 320px) {
  .division-grid {
    grid-template-columns: 20% 30% 25% 25%
  }

  .button-font {
    font-size: 12px;
  }
}
