@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,600');

* {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 20px auto 60px;
}

.nav-tabs .nav-link.active {
  color: #1f375b
}

.link, .nav-link {
  color: #1493ff;
}

.link:hover, .nav-link:hover {
  text-decoration: none;
  color: #1f375b
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1f375b;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.grid {
  display: grid;
}

.entry-padding {
  padding: 5px 5px 0px 15px;
}

.division-grid {
  grid-template-columns: 10% 30% 20% 20%;
  grid-column-gap: 5px;
}

.grid-5-70-20 {
  grid-template-columns: 3% 70% 20%;
  grid-column-gap: 10px;
}

.grid-overall {
  grid-template-columns: 3% 38% repeat(4, 14%);
  grid-column-gap: 10px;
}

.grid-75-20 {
  grid-template-columns: 75% 20%;
  grid-column-gap: 10px;
}

.division-font {
  font-weight: 16px;
}

.grid-compare {
  grid-column-gap: 15px;
}

.button-font {
  font-size: 16px;
}

.grid-compare-btns {
  grid-template-columns: 180px 170px 170px;
  grid-column-gap: 10px;
  padding: 10px 0px;
  align-items: center;
}

.grid-sort-btns {
  grid-template-columns: 100px 170px 170px;
  grid-column-gap: 10px;
  padding: 10px 0px;
  align-items: center;
}

.bg-action-text {
  margin-bottom: 0;
}

.compare {
  justify-self: start
}

.table-text {
  text-align: center
}

.team-name {
  font-size: 18px;
}

.team-badge {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 98%;
    padding: 0 10px
  }
}

@media screen and (max-width: 770px) {
  .grid-compare-btns {
    grid-template-columns: 180px 1fr 1fr;
  }

  .grid-overall {
    grid-template-columns: 5% 37% 12% 15% 15% 12%;/*repeat(4, 13%);*/
    grid-column-gap: 5px;
  }

  .tk {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .tk {
    font-size: 18px;
  }
}

@media screen and (max-width: 510px) {
  .container {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  .division-font, .button-font {
    font-size: 14px;
  }

  .division-grid {
    grid-template-columns: 10% 35% 15% 25%
  }

  .grid-compare-btns, .grid-sort-btns {
    grid-template-columns: auto;
    grid-template-rows: 2;
  }

  .grid-compare-btns .btn, .grid-sort-btns .btn {
    grid-row-start: 2;
  }

  .bg-action-text {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 415px) {

  h4 {
    font-size: 16px;
  }

  .grid-overall {
    grid-template-columns: 5% 48% repeat(4, 10%);
    grid-column-gap: 5px;
  }

  .entry-padding {
    padding-left: 8px;
  }

  .grid-5-70-20 {
    grid-template-columns: 5% 65% 20%
  }
}

@media screen and (max-width: 320px) {
  .division-grid {
    grid-template-columns: 20% 30% 25% 25%
  }

  .button-font {
    font-size: 12px;
  }
}
